.task {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.task.done h2,
.task.done p {
    text-decoration: line-through;
    color: #999;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task button:nth-child(2),
.task button:nth-child(3) {
    background-color: #28a745;
    color: white;
}

.task button:nth-child(3) {
    background-color: #dc3545;
}

.task .tags-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 10px;
}

.tags-container .tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    background: #c2c2c2;
    border-radius: 5px;
    cursor: pointer;
}

.task .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.2em;
}

.task .delete-button:hover,
.task .delete-button:focus {
    color: red;
}

/* Optional: styles for when a task is marked as done */
.task.done h2,
.task.done p {
    text-decoration: line-through;
    color: #bbb;
}